:host {
    display: block;
    position: relative;
    height: 100%;
}

.docs-navbar-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 0px;
    color: white;
    background: #3f51b5;
    justify-content: center;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

ul {
    display: flex;
    align-items: center;
    margin: 0.25rem;
}

li {
    list-style-type: none;
}

.active {
    background-color: #336699;
}

#imageWrapper {
    display: flex;
    align-items: center;
}

#imageWrapper img {
    width:30%;
}

#menuWrapper {
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
}

.container {
    width: 74%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    top: 4rem;
    z-index: 0;
}