<mat-card-content *ngIf="pageNotLoaded">
    <h2 class="example-h2">Please wait...</h2>
    <mat-progress-spinner
        class="example-margin"
        color="accent"
        mode="indeterminate"
    >
    </mat-progress-spinner>
</mat-card-content>
<nav-menu
    *ngIf="router.url !== '/' && router.url !== '/authenticate' && router.url !== '/authenticate/signup' && router.url !== '/authenticate/reset-pasword'"
    [logoUrl]="logoUrl"
    [profilePhoto]="profilePhoto"
></nav-menu>
<router-outlet *ngIf="!pageNotLoaded"></router-outlet>
