mat-card-content {
    display: flex;
}

mat-card-content > * {
    flex-basis: 50%;
}

#imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 25rem;
    height: 25rem;
    border-radius: 100% !important;
    padding: 4rem;
}

textarea {
    resize: none !important;
}

table {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    flex-basis: 100% !important; 
}

form div:nth-child(1) {
    display: flex;
    flex-basis: 100%;
}

form div:nth-child(1) div {
    flex-basis: 50%;
    flex-direction: column;
}
