<div class="modal">
    <div
        class="modal-dialog modal-lg modal-dialog modal-lg w-100 d-flex align-items-center"
        role="dialog"
        aria-hidden="true"
    >
        <div class="modal-content modal-content w-100 h-75 overflow-auto">
            <div class="modal-header">
                <h1
                    style="overflow: hidden;"
                    class="modal-title"
                >
                    {{dialogHeader}}
                </h1>
            </div>
            <div class="modal-body modal-body d-flex align-items-start justify-content-start flex-column">
                {{dialogContent}}
                <div class="d-flex w-100 pt-4 justify-content-around">
                    <mat-card class="w-50 m-2">
                        <ul class="m-0 p-0">
                            <h3>Main Courses</h3>
                            <li *ngFor="let course of mandatoryCourses" class="p-1">
                                <mat-checkbox class="example-margin" (change)="selectMainCourse(course)">{{course.name}}</mat-checkbox>
                            </li>
                        </ul>
                    </mat-card>
                    <mat-card class="w-50 m-2">
                        <ul class="m-0 p-0">
                            <h3>Elective Courses</h3>
                            <li *ngFor="let course of electiveCourses" class="p-1">
                                <mat-radio-button [value]="course" name="electiveCourses" (change)="selectElectiveCourse(course)">{{course.name}}</mat-radio-button>
                            </li>
                        </ul>
                    </mat-card>
                    <mat-card class="w-50 m-2">
                        <ul class="m-0 p-0">
                            <h3>MIL Courses</h3>
                            <li *ngFor="let course of milCourses" class="p-1">
                                <mat-radio-button [value]="course" name="milCourses" (change)="selectMilCourse(course)">{{course.name}}</mat-radio-button>
                            </li>
                        </ul>
                    </mat-card>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button
                    mat-stroked-button
                    color="primary"
                    type="button"
                    class="m-1"
                    (click)="enrollCourses()"
                >
                    Update
                </button>
                <button
                    type="button"
                    mat-stroked-button
                    color="warn"
                    (click)="closeDialog()"
                >
                    Close
                </button>
            </div>
        </div>
    </div>

</div>
