/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
}

mat-form-field {
    width: 100%;
}

.error-in-snackBar {
    background-color: indianred;
    color: white;
    position: relative;
    overflow: auto;
}

.success-in-snackBar {
    background-color: forestgreen;
    color: white;
    position: relative;
    overflow: auto;
}

.error-in-snackBar:after, .success-in-snackBar:after {
    content: '';
    animation: righttoleft 4s linear;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

@keyframes righttoleft {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

snack-bar-container {
    width: 7rem;
}

mat-card-content {
    margin: 0 16px;
}

mat-card-actions {
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-direction: column;
}

button {
    text-transform: uppercase;
}

.container {
    width: 74%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    top: 4rem;
    z-index: 0;
}

.modal {
    display: flex !important;
    overflow: hidden;
    width: 50vw;
    height: 50vh;
}

.modal-header {
    border-bottom: none !important;
    padding: 0 0 1rem;
    display: flex;
    align-items: center;
    color: #666;
    justify-content: flex-start !important;
}

.modal-dialog {
    width: 100%
}

.modal-content {
    box-shadow: 0 0 0 0 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-body {
    padding: 0.25rem 0;
    font-size: 1rem;
    color: #666;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
}

.modal-footer {
    border-top: none !important;
    padding: 1rem 0 0;
}

button {
    line-height: 0;
    font-size: 14px;
    border-radius: 4px !important;
}

mat-progress-spinner {
    margin-bottom: 1rem;
}