.flex-basis-80 {
    flex-basis: 80%;;
}

.flex-basis-20 {
    flex-basis: 20%;
}

.min-height-40 {
    min-height: 40 vh !important;
    height: 40vh !important;
}

ul li {
    list-style-type: none;
}

.courses {
    background-color: #eee;
}